*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "brandon-grotesque", sans-serif;
    background-color: #e9e1d6;
    color: #fff;
}

                                                        /* FORSIDE */
/* Header */

header{
    display: flex;
    justify-content: space-between; /* Logo til venstre, burger til højre */
    align-items: center;
    background-color: #7b5e4a;
    padding: 1em 2em;
}

.logo{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#bars{ /* # bruges til at kalde på et id tag */
        color: #7b5e4a;
        background-color: #e9e1d6;
        border: none; /* Fjerner linjen rundt om knap */
        border-radius: 60px;
        width: 90px;
        height: 50px;
        
}

#bars i{
    font-size: 30px;
    cursor: pointer;
}

.logo:hover, #bars i:hover{
    color: #b86b4b;
    transition: 0.3s;
}

/* Navigationsbar */

nav{
    display: flex;
    justify-content: center;
    background-color: #2a2018;
   
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    list-style: none;
    padding: 2em 0;
    margin: 0;
    width: 90%;
    
}

nav ul li a{ /* nav --> ul --> li --> a */
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

nav ul li a:hover{
    color: #b86b4b;
    transition: 0.3s;
}

.forside{
    border-bottom: 4px solid #e9e1d6;
}

.english{
    display: none;
}


/* Banner billede */
.banner{
    background-image: url(img/IMG_8062.jpg);
    background-size: cover;
    background-position: left;
    height: 50vh;
}
.banner h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    padding: 1.5em 1em;
}

/* Hovedindhold */

/* Tekst felt - CRAFTPSYKOLOGI */
.tekst-1, .tekst-3, .tekst-4{
    background-color: #7b5e4a;
    margin-top: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.tekst-1 h2, .tekst-2 h2, .tekst-3 h2, .tekst-4 h2{
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
}

.break{
    display: block;
}

.tekst-1 p, .tekst-2 p, .tekst-3 p, .tekst-4 p{
    text-align: left;
    font-size: 1.5em;
    padding: 1em 2em;


}

.tekst-1 button {
    background-color: #2a2018;
    border: none;
    border-radius: 66px;
    box-shadow: 0 4px 8px 0 #000; /* vandret, nedad, blødhed, spread, farve */
    font-size: 1.3em;
    font-weight: 600;
    font-family: "brandon-grotesque", sans-serif;
    padding: 0.4em 2em;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.tekst-1 button a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.tekst-1 button a:hover{
    color: #b86b4b;
    transition: 0.3s;
}

/* Billeder */
.billede {
    width: 100%;
    padding: 3em;
    border-radius: 130px;
}

/* Tekst felt - AT SKABE NOGET */
.tekst-2{
    background-color: #7b5e4a;
    padding-top: 3em;
    padding-bottom: 3em;
}


/* Footer */
footer{
    background-color: #7b5e4a;
    padding: 1em;
    display: flex;
    justify-content: center;
}

footer .logo-bund{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.logo-bund:hover{
    color: #b86b4b;
    transition: 0.3s;
}

.desktop-only{
    display: none; /* vises ikke */
}


                                                        /* INFOSIDE */

/* Overskrift */
.info-overskrift{
    text-align: center;
    color: #2a2018;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 50px;
}

/* Nav */

.info-forside .forside{
    border-bottom: none;
}

.info-nav{
    border-bottom: 4px solid #e9e1d6;
}

/* Main */
.ikoner img{
    height: 200px;
}

.ikoner{
    text-align: center;
    
}

.ikoner p{
    color: #2a2018;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
}

.skabe, .flow, .ro{
    margin: 4em;
}

.tekst-4{
    margin-bottom: 4em;
    margin-top: 0;
}

                                                        /* KONTAKTFORMULAR */

/* Nav */

.kontakt{
    border-bottom: 4px solid #e9e1d6;
    
}

/* Banner 2 */
.banner-2{
    background-image: url(img/kontakt.png);
    background-size: cover;
    background-position: left;
    height: 50vh;
}
.banner-2 h1{
    color: #fff;
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;
    padding: 4.5em 1em;
}

/* Kontaktformular */

.kontaktform h1{
    text-align: center;
    text-transform: uppercase;
}
.kontakt-tekst{
    font-weight: 200;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1em;
}

.kontakt-tekst-2{
    font-weight: 200;
    font-size: 1.2em;
    text-align: center;
}

.kontaktform {
    border-radius: 40px;
    background-color: #7b5e4a;
    padding: 1.3em;
    width: 70%; /* Fylder 70% af siden i bredden */
    margin: 2em auto; /* Centrerer elementet på siden*/
    padding: 2em 1.1em 2em;
  
}

/* Hvide input bokse */
input[type=text], input[type=email], input[type=tel], textarea{
    width: 100%; /* fylder hele bredden i boksen */
    padding: 1.2em; /* laver skrivefeltet større */
    border: 3px solid #2a2018;  /* stroke rundt om felterne */
    border-radius: 30px; /* afrundede kanter */
    margin-top: 0.5em; /* afstand over feltet */
    margin-bottom: 1em; /* afstand under feltet */
}

/* Viser rød kant hvis man ikke har tastet */
input:invalid:not(:placeholder-shown){
    border-color: red;
}

/* Cursor på checkbokse og knap */
input[type=checkbox], input[type=submit]{
    cursor: pointer; /* Skaber brugervenlighed så man kan se at man kan trykke på knappen */    
}

fieldset{
    border-style: hidden; /* stroke rundt om feltet - skriv "hidden" i stedet for "dotted" hvis den ikke skal være der */
    margin-bottom: 0.8em; /* mere plads under fieldset (begge) */
    font-size: 1.2em;
    padding: 0.5em;
}

/* Hvide checkbox felter */
input[type=checkbox]{
    margin: 0.8em 1em 0; /* mere plads i top og bund men ingenting i siderne */
    transform: scale(1.6);
}

.tekst-box label{
        font-size: 1.2em;
        padding-left: 0.5em;
    }

/* Send - knap */
input[type=submit]{
    margin: 0 auto;
    background-color: #2a2018;
    color: white;
    font-weight: 600;
    padding: 1em 0.5em; /* 0.8 i top og bund og 1.5em i siderne */
    border: none;
    box-shadow: 0 4px 8px 0 #000;
    border-radius: 40px;
    font-size: 1.3em;
    width: 40%;
    text-transform: uppercase;
}

.send-knap{
    display: flex;
    justify-content: center;
}

input[type=submit]:hover{
    background-color: #b86b4b;
}


::placeholder{ /* Ændre farven på den udtydelige skrift i felterne */
    color: #7b5e4a;
    text-transform: uppercase;
    font-weight: 600;
}
/* Andre style elementer */

.visually-hidden{ /* WCAG defineret class som fjerner element fra skærm. men som stadig kan læses af skærmlæseren */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}










/* TABLET VERSION */
@media screen and (min-width: 800px) {

                                                        /* FORSIDE */

.tekst-1 .break, .tekst-3 .break, .banner .break { /* bryder teksten */
        display: inline; 
    }


/* Header */

#bars{ /* Burgermenu */
    display: none;
}    

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

nav{
    display: flex;
    justify-content: flex-end;
    padding: 1em 2em;
    margin-top: -70px;
    width: 100%;
    background: none;
    
}

nav ul{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 60%;
}

nav ul li{
    margin: 0;
}

nav ul li a{
    font-size: 0.9em;
}

.english{
    display: block;
}

/* Banner */
.banner{
    padding-top: 3em;
}

/* Hovedindhold */

/* Opdeler indhold i rækker med 1 tekst + 1 billede */
.sektion-1{
    display: flex;
    flex-direction: row;
}
.tekst-1, .sektion-1 img{
    width: 50%;
}

.sektion-2{
    display: flex;
    flex-direction: row-reverse;
}

.tekst-2, .sektion-2 img{
    width: 50%;
}
.tekst-1, .tekst-2{
    background-color: transparent; /* fjerner den mørke baggrund */
    color: #2a2018;
    
}

/* Sektion 1 + 2 */
.tekst-1{
    margin-top: 0;
    margin-left: 3em; /* Rykker teksten ind mod midten */
    padding-top: 5em; /* Rykker teksten længere ned */
    padding-bottom: 0; /* Fjerner plads i bunden */
}

.tekst-1 h2, .tekst-2 h2{
    font-size: 1.9em; 
}

.tekst-1 p{
    padding: 1em; /* Mindre plads omkring tekst */
}

.tekst-2 p{
    margin-right: 2em;
}

 .tekst-1 p, .tekst-1 h2{
        padding-left: 0;
        padding-right: 0;
        text-align: left;
    }

     .tekst-2 p, .tekst-2 h2{
        padding-left: 0;
        padding-right: 0;
        text-align: left;
    }

.tekst-1 button{
    border-radius: 66px;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.5em 2em;
    margin-left: 0em;
    
}
.sektion-1 img, .sektion-2 img{
    border-radius: 90px; /* pænere kanter */
    height: auto;
    object-fit: cover; /* Udfylder sektionen og beskæres */
}

/* Footer */


.desktop-only{
    display: flex; /* vises */
    justify-content: space-between;
    margin-right: 2em;
}
.desktop-only ul li a, .desktop-only ul{
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.desktop-only ul li a:hover{
    color: #b86b4b;
    transition: 0.3s;
}

footer{
    justify-content: space-between;
    align-items: center;
}

.toggle-knap input[type="checkbox"]{ /* id tag */
    /* skjuler checkboxen */
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    
}

.toggle{ /* Toggle knappen */
    width: 60px;
    height: 30px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s; /* giver en pænere overgang */
    position: relative;
}

.toggle::after{ /* Prikken i midten af knappen */
    content: ""; /* et element uden tekst - cirkel */
    width: 22px;
    height: 22px;
    background-color: #7b5e4a;
    border-radius: 50%;
    position: absolute;
    left: 4px;
}

#darkmode-toggle:checked + .toggle{
    background-color: transparent;
    border: 2px solid white;
}

#darkmode-toggle:checked + .toggle::after{ /* Når knappen trykkes på rykkes cirklen 27px til højre */
    transform: translateX(27px); /* 27px fordi den er 30px i alt men har fået border på */
    background-color: white;
}

                                                        /* INFOSIDE */
.ikoner{
   display: flex;
   justify-content: center;
   
}

.ikoner img{
    height: 150px;
}

.tekst-4{
    
    margin: 3em 1.5em 3em 3em;
    padding: 3em 0;
    border-radius: 60px;
}


.tekst-4 h2, .tekst-3 h2{
    font-size: 1.9em;
}

.tekst-4 p, .tekst-3 p{
    font-size: 1.5em;
}

.tekst-4 p{
    padding: 0.5em 1em;
}

.bund-sektion img{
    padding: 3em 3em 3em 1.5em;
    height: auto;
    object-fit: cover; /* Udfylder sektionen og beskæres */
}

/* Opdeler indhold i rækker med 1 tekst + 1 billede */
.bund-sektion{
    display: flex;
    flex-direction: row-reverse;
}
.tekst-4, .bund-sektion img{
    width: 50%;
}

                                                        /* KONTAKTFORMULAR */

.kontaktform h1{
        font-size: 2.5em;
    }
    .kontakt-tekst, .kontakt-tekst-2, .checkbox, .tekst-box label{
        font-size: 1.5em;
    }

    /* Hvide input bokse */
    input[type=text], input[type=email], input[type=tel], textarea{
        padding: 1.8em; 
        border: 4px solid #2a2018;
        border-radius: 40px;
    }
    .kontaktform{
        padding-left: 4em;
        padding-right: 4em;
    }

    ::placeholder{
        font-size: 1.3em;
    }

    .crafts{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .tekst-box label{
        padding-left: 0.5em;
    }
}











/* DESKTOP VERSION */
@media screen and (min-width: 1024px) {


    .tekst-1 p, .tekst-2 p, .tekst-3 p, .tekst-4 p{
        font-size: 2em;
    }

    .tekst-1 h2, .tekst-2 h2, .tekst-3 h2, .tekst-4 h2{
        font-size: 2.5em;
    }

                                                         /* FORSIDE */
    .tekst-1 p, .tekst-1 h2{
        padding-left: 0;
        padding-right: 0;
        text-align: left;
    }

     .tekst-2 p, .tekst-2 h2{
        padding-left: 0;
        padding-right: 0;
        text-align: left;
    }

    .tekst-1 p, .tekst-2 p{
        font-size: 2.5em;
    }


                                                        /* KONTAKTFORMULAR */
    .kontaktform h1{
        font-size: 2.7em;
    }
    .kontakt-tekst, .kontakt-tekst-2, .checkbox, .tekst-box label{
        font-size: 1.8em;
    }
   
    .kontaktform{
        padding-left: 5em;
        padding-right: 5em;
    }




}